body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:medium;
    padding: 10px;
}

.heading{
    border: 50px 50px solid gray;
    display: flex;
    background-color: deepskyblue;
}

img{
    border: 10cap;
    clip-path: circle(40%);
    margin-left: 20px;
    
}
h1{
    margin-right: 100px;
    margin-left: 25px;
    padding-top: 50px;
    
}
.body{
    background-color: darkgrey;
    margin: 10px 0px;
    padding: 10px;
    padding-top: 1px;
}

.main{
    margin : 1px 0px 5px 0px;
    padding : 25px 25px 25px 25px;
    background-color: rgb(230, 243, 255);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.footer{
    margin : 1px 0px 5px 0px;
    padding : 25px 25px 25px 25px;
    background-color:deepskyblue;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.quote{
    font-family: "Spirax", system-ui;
  font-weight: 400;
  font-style: normal;
}

    


